@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Lilita+One&&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 1em sans-serif;
}
.Home {
  background-color: bisque;
}
.d {
  display: flex;
  justify-content: center;
  background-color: orange;
}

.Home.jsx {
  background-color: bisque;
}
.d {
  display: flex;
  justify-content: center;
  background-color: orange;
}
